body,
ul,
li {
    padding: 0px;
    margin: 0px;
    font-family: "Hanken Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    list-style: none;
}

body {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
}

.content>div {
    flex: 1 1 350px;

}

.content>.lateral {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    display: flex;
    max-width: 450px;
    width: 450px;
    border-radius: 2rem;
}

.content>.lateral>div {
    width: 267px;
    margin: 0 auto;
    justify-content: center;
}

.lateral>h1 {
    text-align: center;
}

.lateral>p {
    font-size: 18px;
    text-align: center;
    padding: 2rem;
    margin: 0 auto;
}

.lateral>div>p.circulo {
    color: white;
    text-align: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    margin: 0 auto;
    width: 8rem;
    height: 8rem;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 100%;
}

.lateral>div>h3 {
    color: white;
    text-align: center;
    align-items: center;
    font-size: 3rem;
    margin: 2rem auto 0px;
    border-radius: 100%;
}

.lateral>div>p>span {
    color: white;
    font-size: 1rem;
}

.legenda {
    text-align: center;
    align-items: center;
    font-size: 1rem;
}

.lateral>div>h1 {
    text-align: center;
    align-items: center;
    padding: 1rem;
    color: white;
}

.lateral>div>p {
    text-align: center;
    align-items: center;
    padding: 1rem;
    color: white;
}

.button {
    text-align: center;
}

.sumary {
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
    width: 450px;
}

.sumary>div {
    flex: 1 1 300px;
}

.sumary>div:first-child {
    padding: 1rem;
    margin: 1rem 3rem;
    justify-content: center;
}

.sumary>h1 {
    color: black;
    text-align: center;
    align-items: center;
    padding: 1rem;
    margin-top: 35px;
}

.reaction {
    display: flex;
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 95%, 0.5);
    border-radius: 1rem;
    padding: 1rem 0;
    justify-content: center;
}

.memory {
    display: flex;
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 95%, 0.5);
    border-radius: 1rem;
    padding: 1rem 0;
    justify-content: center;
}

.verbal {
    display: flex;
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 95%, 0.5);
    border-radius: 1rem;
    padding: 1rem 0;
    justify-content: center;
}

.visual {
    display: flex;
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 95%, 0.5);
    border-radius: 1rem;
    padding: 1rem 0;
    justify-content: center;
}

.attribution {
    flex-direction: column;
}

button {
    text-align: center;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border: none;
    border-radius: 3rem;
    color: white;
    width: 21rem;
    font-size: 1rem;
    padding: 1rem;
    transition: 0.5s;
    transform: perspective(".button");
}

button:hover {
    background-image: linear-gradient(hsl(252, 100%, 90%), hsl(241, 81%, 80%));
    /* border: 1px solid blue; */
    color: blue;
    font-weight: bolder;
}